Source: libnotification
Section: libs
Priority: optional
Maintainer: Jeonghoon Park <jh1979.park@samsung.com>, Youngjoo Park <yjoo93.park@samsung.com>
Build-Depends: debhelper (>= 5), libsqlite3-dev, libslp-db-util-dev, libvconf-dev, libbundle-dev, libdbus-1-dev, dlog-dev, libail-0-dev, libaul-1-dev, libappsvc-dev, libdbus-glib-1-dev
Standards-Version: 3.7.2

Package: libnotification-dev
Section: libdevel
Architecture: any
Depends: libnotification-0 (= ${Source-Version}), libbundle-dev
Description: Notification library
 This package contains devel content.

Package: libnotification-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Notification library
 This package contains notification library.

Package: libnotification-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotification-0 (= ${Source-Version})
Description: Notification library
 This package is for debug
